button {
    width: 100%;
    border: none;
    height: 1rem;
    margin: 10px 0;
}

.transBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .7);
    .sideBar {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 4rem;
        height: 100%;
        background-color: white;
        a {
            display: block;
            width: 100%;
            height: 0.6rem;
            line-height: .6rem;
            text-align: center;
            color: white;
            background-color: orange;
        }
    }
}

.trans-enter,
.itemEnter {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

.trans-enter.trans-enter-active,
.itemEnterActive {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 1000ms;
    transition: -webkit-transform 1000ms;
    -o-transition: transform 1000ms;
    transition: transform 1000ms;
    transition: transform 1000ms, -webkit-transform 1000ms;
}

.trans-leave,
.itemLeave {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.trans-leave.trans-leave-active,
.itemLeaveActive {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 1000ms;
    transition: -webkit-transform 1000ms;
    -o-transition: transform 1000ms;
    transition: transform 1000ms;
    transition: transform 1000ms, -webkit-transform 1000ms;
}

.showAppear {
    opacity: 0;
}

.showAppearActive {
    opacity: 1;
    -webkit-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}