.selectedList {
    text-align: center;
    color: black;
    display: block;
    padding: .5rem 0;
    background-color: #DDDDDD;
    li {
        padding: .2rem 0;
    }
}

button {
    width: 100%;
    border: none;
    height: 1rem;
    margin: 10px 0;
    background: #DDDDDD;
}

.bookList {
    li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        span {
            display: inline-block;
            width: 3rem;
        }
    }
}