.parent2child {
    margin: 1rem 0;
    text-align: center;
    width: 100%;
    font-size: .3rem;
}

button {
    width: 100%;
    border: none;
    height: 1rem;
    margin: 10px 0;
    background: #DDDDDD;
}